.Members {
  .membersWrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-content: space-between;

    h2 {
      width: 100%;
      font-size: var(--titSize);
    }
    .formBox {
      width: 60%;
      table {
        width: 100%;
        tbody {
          tr {
            td {
              padding: 55px 5px 10px;
              position: relative;
              p {
                font-size: 0.7rem;
                color: var(--darkLightPointColor);
                font-family: "돋움";
                bottom: -20px;
                left: 5px;
                position: absolute;
              }
              input[type="text"],
              input[type="password"],
              textarea {
                width: 100%;
                padding: 10px 0px 10px 5px;
                color: rgba(var(--baseColor-code), 0.8);
                background-color: transparent;
                border: 1px solid rgba(var(--baseColor-code), 0.3);
              }
              select {
                width: 100%;
                border: none;
                background-color: transparent;
                padding: 10px 10px 10px 5px;
                border: 1px solid rgba(var(--baseColor-code), 0.3);
                color: rgba(var(--baseColor-code), 0.8);
                option {
                  color: rgba(var(--baseColor-code), 0.8);
                  background-color: var(--whiteColor);
                }
              }

              label {
                margin-right: 40px;
                font-size: 1rem;
                opacity: 0.6;
              }
              input[type="checkbox"],
              input[type="radio"] {
                margin-right: 10px;
              }
            }
          }
          .bottomBtns {
            width: 100%;
            text-align: center;
            .bottomTdBtns {
              padding-top: 75px;
              input[type="reset"] {
                background: rgba(var(--baseColor-code), 0.08);
                margin-right: 20px;
                width: 200px;
                height: 40px;
                border: none;
                font-size: 1rem;
                color: rgba(var(--baseColor-code), 0.5);
                cursor: pointer;
              }
              input[type="submit"] {
                background: rgba(var(--pointColor-code), 0.13);
                margin-right: 20px;
                width: 200px;
                height: 40px;
                border: none;
                font-size: 1rem;
                color: rgba(var(--darkLightPointFontColor-code), 0.7);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .membersRightBox {
      width: 35%;
      height: 40vh;
      background-color: rgba(var(--baseColor-code), 1);
      opacity: 0;
      transition: 0.5s 0.5s;
      transform: translateX(-200px);
      padding: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: center;
      .membersTypo {
        line-height: 7rem;
        width: 100%;
        text-align: left;
        color: var(--whiteColor);
        font-size: 5.5rem;
        opacity: 0;
        transform: scale(3) translateX(-200px);
        transition: scale 0.5s 0.5s, transform 0.5s 0.5s;
      }
      .subTypo {
        line-height: 1.5rem;
        text-align: left;
        width: 100%;
        color: var(--whiteColor);
        font-size: 1rem;
        opacity: 0;
        transform: scale(2) translateX(-200px);
        transition: scale 0.5s 0.5s, transform 0.5s 0.5s;
      }
      &.on {
        opacity: 1;
        transform: translateX(0px);
        .membersTypo {
          opacity: 1;
          transform: scale(1) translateX(0px);
        }
        .subTypo {
          opacity: 1;
          transform: scale(1) translateX(0px);
        }
      }
    }
  }
}
.tablet,
.mobile {
  .Members {
    .membersWrap {
      .formBox {
        width: 100%;
        table {
          tbody {
            tr {
              td {
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                input[type="text"],
                input[type="password"] {
                  width: 100%;
                }
              }
            }
            .bottomBtns {
              .bottomTdBtns {
                input[type="reset"] {
                  //width: 200px;
                }
                input[type="submit"] {
                  // width: 200px;
                }
              }
            }
          }
        }
      }
      .membersRightBox {
        display: none;
      }
    }
  }
}

.mobile {
  .Members {
    .membersWrap {
      .formBox {
        table {
          tbody {
            tr {
              td {
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                input[type="text"],
                input[type="password"] {
                  width: 100%;
                }
              }
            }
            .bottomBtns {
              .bottomTdBtns {
                input[type="reset"] {
                  width: 100%;
                  margin-bottom: 10px;
                }
                input[type="submit"] {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
