@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200&display=swap');

:root{
  --baseColor:#111;
  --baseColor-code:18, 18, 18;
  --pointColor:rgb(79, 57, 249);
  --whiteColor:#fff;
  --whiteColor-code:255, 255, 255;
  --baseFont:'Noto Sans KR', 'arial' '돋움';
  --pointFont:'Noto Sans KR', 'serif' '돋움';
  --titSize:2.3rem;
  --midSize:1.7rem;
  --bodySize:1rem;
}