@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200&display=swap');

:root{
  --baseColor:#111;
  --pointColor:rgb(79, 57, 249)
  --bgColor:#efefef;
  --baseFont:'Noto Sans KR', 'arial' '돋움';
  --pointFont:'Noto Sans KR', 'serif' '돋움';
  --titSize:2.3rem;
  --bodySize:1rem;
}