.Visual {
  width: 100%;
  height: calc(100vh - 130px);
  background: #333;
  position: relative;
  .visualList {
    display: flex;

    img {
      width: 100%;
      height: calc(100vh - 130px);
      object-fit: cover;
      &:not(:first-child) {
        display: none;
      }
    }
  }
}
.visualVar {
  width: 70%;
  height: 9px;
  margin: 0 auto;
  background: rgba(var(--baseColor-code), 0.2);
  position: relative;
  .visualLine {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 50%;
    height: 3px;
    margin: 0 auto;
    background: var(--pointColor);
  }
}
